In [2]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_df(condition, country=None):
    df = pd.read_csv(f"data/covid19_{condition}.csv")
    if country is not None:
        df = df.loc[df["Country/Region"] == country]
    df = df.drop(columns=["Province/State", "Country/Region","Lat","Long"]).sum().reset_index(name=condition)
    df = df.rename(columns={"index":"date"})
    return df


def make_global_df(country=None):

    final_df = None

    for condition in conditions:
        condition_df = make_df(condition, country)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)

    return final_df

type(make_global_df("Japan"))

         date  confirmed  deaths  recovered
0     1/22/20          2       0          0
1     1/23/20          2       0          0
2     1/24/20          2       0          0
3     1/25/20          2       0          0
4     1/26/20          4       0          1
..        ...        ...     ...        ...
637  10/20/21    1716508   18166          0
638  10/21/21    1716858   18182          0
639  10/22/21    1717177   18194          0
640  10/23/21    1717462   18199          0
641  10/24/21    1717698   18207          0

[642 rows x 4 columns]